body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: Arial, sans-serif;
}
.card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card img {
    width: 100%;
    border-radius: 10px;
    display: block;
    margin: 0;
}
.card h2 {
    font-size: 20px;
    margin: 10px 0;
    color: hsl(0, 0%, 20%);
}
.card p {
    font-size: 14px;
    color: #666;
}
@media (min-width: 600px) {
    .card {
        padding: 25px;
        max-width: 350px;
    }
    .card h2 {
        font-size: 18px;
    }
    .card p {
        font-size: 14px;
    }
}